html, body {
    margin: 0;
    padding: 0;
}


.ui.accordion .title {
    cursor: inherit;
}


.ui.problem.segment p, .ui.problem.segment ul, .ui.problem.segment ol {
    font-size: 18px!important;
}


.giscus-frame {
    border: none;
}
