html, body {
    margin: 0;
    padding: 0;
    font-size: 15px;
    font-family: 'Alegreya', serif;
    font-family: 'Alegreya SC', serif;
    font-family: 'Merriweather', serif;
}

.ui.segment, p, h1, h2, h3, h4, .ui.menu, .ui.button, 
.ui.accordion .title  {
    font-family: 'Alegreya', serif!important;
    font-family: 'Alegreya SC', serif!important;
    font-family: 'Merriweather', serif!important;
}

.ui.accordion .title {
    cursor: inherit;
}


.problem.segment p {
    font-size: 18px;
}

.giscus, .giscus-frame {
    width: 100%;
    font-family: 'Alegreya', serif!important;
    font-family: 'Alegreya SC', serif!important;
    font-family: 'Merriweather', serif!important;
}

.giscus-frame {
    border: none;
}