html, body {
    margin: 0;
    padding: 0;
    font-size: 16px;
}

.ui.accordion .title {
    cursor: inherit;
}


.problem.segment p {
    font-size: 18px;
}

.giscus, .giscus-frame {
    width: 100%;
  }
  
  .giscus-frame {
    border: none;
}