<div class="ui center aligned segment" style="margin: auto; width: 30%">
<h1 class="ui dividing header">Log in</h1>
<%= link_to "/auth/slack", class: "ui green big button" do %>
Sign in with Slack</i>
<% end %> 
</div>