<div class="ui center aligned basic segment" style="margin: auto; width: 30%">
<h1 class="ui dividing header">Log in</h1>
<%= link_to "/auth/slack", class: "ui green basic big button" do %>
<i class="red slack hash icon"></i>Sign in with Slack</i>
<% end %> 
</div>