<div class="ui basic padded basic segment center aligned" style="margin-top: 10vh">
    <%= link_to '/auth/slack', class: "ui huge basic red button" do %>
        <i class="green slack hash icon"></i>Sign In with Slack
    <% end %>
</div>