<div class="ui raised clearing segment" id="prob-{{problem.index}}">
    <a class="ui top right attached {{ site.levels[problem.level].color }} mini label">{{ site.levels[problem.level].name }}</a>
    <a href="{{ site.baseurl }}{{ problem.url }}">
    <div style="font-size: 16px;color: black;">
        <b>Problem {{problem.index}}:
            {% if problem.caption and problem.caption != "" %}
            ({{ problem.caption }})
            {% endif %}
        </b>
        {{ problem.statement | markdownify | truncate: 500 }}
    </div>  
    </a>
    <br/>
    <a class="ui blue basic right floated icon mini button" href="">Solution <i class="right chevron icon"></i></a>
    {{ problem.tags[0].url }}
</div>