<div class="ui clearing basic segment">
<%= link_to new_category_url, class: "ui mini right floated basic green icon button" do %>
    <i class="plus icon"></i> Category
<% end %>

<% @categories.each do |c| %>
<%= link_to c.title, c, class: "ui basic green button" %>
<% end %>
</div>

