---
layout: home
---
{% assign directory = page.title | downcase | split: " " | join: "-"  %}
{% assign cat_problems = "" | split: ',' %}
{% for problem in site.problems %}
{% assign path = problem.path | split: "/" %}
{% if path[1] == directory %}
{% assign cat_problems = cat_problems | push: problem %}
{% endif %}
{% endfor %}
{% assign grouped_problems = cat_problems | sort: 'topic' | group_by: 'topic' %}


<h1 class="ui center aligned header">{{ page.title }}</h1>
{% for group in grouped_problems %}
{% assign idx = group.name | plus: 0 %}
{% if page.topics[idx] and page.topics[idx] != '' %}
<a style="margin:3px" class="ui basic red icon small button" 
href="#{{ page.topics[idx] | split: ' ' | join: '-' }}">
  #{{ page.topics[idx] }}
</a>
{% else %}
<a style="margin:3px" class="ui basic red icon small button" 
href="#Miscellaneous">
  #Miscellaneous
</a>
{% endif %}

{% endfor %}

<div class="ui basic segment">
  {{ content }}
</div>

<div class="ui basic segment">
  <h2 class="ui dividing header">Practice Problems</h2>
  <div class="ui accordion">  
    {% for group in grouped_problems %}
    {% assign problems = group.items | sort: 'title' %}
    {% assign idx = group.name | plus: 0 %}
    {% if page.topics[idx] and page.topics[idx] != '' %}
    {% assign name = page.topics[idx]  %}
    {% else %}
    {% assign name = 'Miscellaneous' %}
    {% endif %}
    
    <div class="ui basic segment" id="{{ name | split: ' ' | join: '-' }}">
      <a href="#{{ name | split: ' ' | join: '-' }}"> 
        <div class="ui red header">
          # {{ name }}
        </div>  
      </a>
      {% for problem in problems %}
      {% include problem.md problem=problem %}
      {% endfor %}
    </div>
    {% endfor %}
  </div>
</div>

<div class="ui basic segment">
  <h3 class="ui dividing header">References</h3>
  {% assign used_refs = cat_problems | map: 'ref' | uniq %}
  {% for ref in site.references %}
  {% for ref1 in used_refs %}
  {% if ref.title == ref1 %}
  <div class="ui vertical segment" id="ref-{{ref.title}}">
    [<b>{{ ref.title | upcase }}</b>] 
    {{ref | markdownify | remove: "<p>" | remove: "</p>" }}
    &nbsp;(<a href="{{ ref.link }}">link</a>)
  </div>
  {% endif %}
  {% endfor %}
  {% endfor %}
</div>