---
layout: home
---
{% assign directory = page.title | downcase | split: " " | join: "-"  %}
{% assign problems = "" | split: ',' %}
{% for problem in site.problems %}
{% assign path = problem.path | split: "/" %}
{% if path[1] == directory %}
{% assign problems = problems | push: problem %}      
{% endif %}
{% endfor %}
{% assign grouped_problems = problems | group_by: 'topic' %}

<h1 class="ui center aligned header">{{ page.title }}</h1>
{% for topic in page.topics %}
<a class="ui basic red button" href="#{{topic | split: ' ' | join: '-' }}">
  #{{ topic }}
</a>
{% endfor %}

<div class="ui basic segment">
  {{ content }}
</div>

<div class="ui basic segment">
  <h2 class="ui dividing header">Practice Problems</h2>
  <div class="ui accordion">  
    {% for group in grouped_problems %}
    {% assign idx = group.name | plus: 0 %}
    {% if idx < 0 %}
    {% assign name = 'Miscellaneous' %}
    {% else %}
    {% assign name = page.topics[idx]  %}
    {% endif %}
    
    <div class="ui basic segment" id="{{ name | split: ' ' | join: '-' }}">
      <a href="{{ name | split: ' ' | join: '-' }}"> 
        <div class="ui red header">
          # {{ name }}
        </div>  
      </a>
      {% for problem in group.items %}
      {% include problem.md problem=problem %}
      {% endfor %}
    </div>
    {% endfor %}
  </div>
</div>