<!DOCTYPE html>
<html lang="en">
<head>
  <title>Practice Problems</title>
  <meta name="viewport" content="width=device-width,initial-scale=1">
  <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
  <link rel="stylesheet" type="text/css" href="https://cdnjs.cloudflare.com/ajax/libs/fomantic-ui/2.8.7/semantic.min.css">
  <script src="https://cdnjs.cloudflare.com/ajax/libs/fomantic-ui/2.8.7/semantic.min.js"></script>

  <script src="{{ site.baseurl }}/js/script.js"></script>
  <script>
    MathJax = {
      tex: {
        inlineMath: [['$', '$'], ['\\(', '\\)']]
      }
    };
    </script>
    <script id="MathJax-script" async
      src="https://cdn.jsdelivr.net/npm/mathjax@3/es5/tex-chtml.js">
    </script>
    <link rel="stylesheet" href="{{ site.baseurl }}/css/style.css">
</head>
<body>
  <div class="ui container basic segment">
    <div class="ui text menu">
      <a class="header item" href="{{ site.baseurl }}"><i class="big home icon"></i></a>
      <h3 class="item">
        Practice Problems
      </h3>

      <div class="right menu">
        <div class="ui dropdown item">
          Categories
          <i class="dropdown icon"></i>
          <div class="menu">
            {% for category in site.categories %}
            <a href="{{ category.url | prepend: site.baseurl }}" class="item">{{ category.title }}</a>
            {% endfor %}
          </div>
        </div>
        <a class="item" href="https://github.com/mids-w203/practice_problems/">
          <i class="ui black big github icon"></i>
      </a>
      </div>
    </div>
  </div>
  <div class="ui container">
    {{ content }}
  </div>
</body>
</html>