---
layout: home
---
{% assign directory = page.path | split: '/' | shift | first %}
{% for category in site.categories %}
{% assign title = category.title | downcase | split: ' ' | join: '-' %}
{% if title == directory %}
{% assign cat = category %}
{% endif %}
{% endfor %}

<div class="ui large breadcrumb">
    <a href="{{ site.baseurl }}{{ cat.url }}" class="section">
        <i class=" left chevron icon"></i>
        {{ cat.title }}
    </a>
    <span class="divider">/</span>
    <div class="active section">Problem {{ page.title }}:</div>
</div>
<br><br>

<div class="ui raised padded problem segment">
  {% assign l = page.level | to_i %}
  <div class="ui label">{{ cat.topics[page.topic] }}</div>
    <br><br>
    <div class="ui basic {{ site.levels[l].color }} label">
      {{ site.levels[l].name }}
    </div>
    <br><br>
    
    {% if page.caption %}
    <h4 class="ui header">({{ page.caption }})</h4>
    {% endif %}
    
    {{ page.statement | markdownify }}
    
    {% if page.answer != "" %}
      <div class="ui accordion">
        <div class="title">
          <i class="red dropdown icon"></i>
          <b>Answer:</b>
        </div>
        <div class="content" style="overflow-x: auto">
          {{ page.answer | markdownify }}
        </div>
      </div>
    {% endif %}

    {% if page.content != "" %}
    <div class="ui divider"></div>
    <div class="ui accordion">
      <div class="title">
        <i class="red dropdown icon"></i>
        <b>Solution:</b>
      </div>
      <div class="content" style="overflow-x: auto">
        {{ content | markdownify }}
      </div>
    </div>
    {% endif %}
  </div>

<br/><br/>
<div class="ui basic segment">
  {% include my-comments.html %}
</div>